<h1>Listing games</h1>

<table class="table table-striped table-bordered">
  <tr>
    <th>Title</th>
    <th>Link</th>
    <% if user_signed_in? && current_user.is_admin == 1 %>
      <th><%= link_to 'New game', new_game_path %></th>
    <% end %>
  </tr>
 
  <% @games.each do |game| %>
    <tr>
      <td><%= game.title %></td>
      <td><%= game.link %></td>
      <td><%= link_to 'Show', game_path(game) %></td>
    </tr>
  <% end %>
</table>
